<div id="modalname" class="modal show lightBox_img" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body app-images-preview">
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="item">
          <div class="text-center">
            <img [src]="viewImage" class="img-fluid" style="width: 100% !important" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


