<div class="row">
  <div class="col-sm-12">
    <h4 class="text-primary"> <b>Manage: Certificates</b> </h4>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-cogs"></i> Listings
        <button class="btn btn-primary pull-right btn-sm mr-1" (click)="showSaveModal()"> <i class="fa fa-plus">
        </i> Add New Certificate</button>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-bordered">
          <thead class="nowrap">
            <tr>
              <th>S.NO</th>
              <th [class.active]="order == 'certificate'" (click)="setOrder('certificate')">
                Certificate
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </th>
              <th [class.active]="order == 'certificateTypeStr'" (click)="setOrder('certificateTypeStr')">
                Certificate Type
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </th>
              <th> Created On </th>
              <th> Updated On </th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="certificateList.length">
            <tr
              *ngFor="let certificate of certificateList | orderBy: order:reverse:'case-insensitive' | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index;">
              <td>{{i+1}}</td>
              <td>{{ certificate?.certificate }}</td>
              <td>{{ findCertificateType( certificate?.certificateType, i) }}</td>
              <td>{{ certificate?.createdAt | date:'mediumDate' }}</td>
              <td>{{ certificate?.updatedAt | date:'mediumDate' }}</td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary" (click)="showSaveModal(certificate)"><i
                      class="fa fa-edit"></i></button>
                  <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal"
                    (click)="showDeleteModal(certificate)"><i class="fa fa-trash"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
          <tr class="text-center" *ngIf="!certificateList.length">
            <td colspan="15">
              <h6>No Record Found !</h6>
            </td>
          </tr>
        </table>

        <ul class="pagination" *ngIf="itemsPerPage < certificateList.length">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </ul>
      </div>
    </div>
  </div>
</div>

