.justify-content-space-between {
    justify-content: space-between;
    align-items: center;
}

.text{
    padding: 0px 15px 4px 16px;
}

// ::ng-deep .cdk-overlay-pane {
//     width: 720px;
//     max-width: 80vw;
// }