<Section class="innerbg-1 position-relative bg-overlay d-flex align-items-center">
  <div class="container">
    <div class="row mb-30 align-center">
      <div class="col-12 text-center">
        <h1 class="fs-50 clr-white position-relative z-index">Privacy Policy</h1>
      </div>
    </div>
  </div>
</Section>




<section class="listing-page pt-50 pb-70 sm-pt-50 sm-pb-50 gray-bg">
  <div class="container container-standard box-shadow-1 bg-white p-5">
    <div class="row">
      <div class="col-12">
        <p>The best advertising for dental practices and dental hygiene are sometimes informative, occasionally graphic and
          usually funny. Truly creative ads get massive recirculation via social networks, exponentially increasing their
          reach
          and driving additional appointments and sales. These bold dental advertising examples are effective reminders that
          we
          should take care of our teeth—or else.</p>
        <h2 class="fs-md"><strong>What is a cookie?</strong></h2>
        <p>A cookie is a series of data characters that, when programmed into a web site, is placed by the web server into
          the
          browser's application folder on your computer. Once placed onto your machine, the cookie will allow the web site
          to
          "recognize" you as a unique individual.</p>
        <h2 class="fs-md"><strong>Can cookies be removed from my hard drive?</strong></h2>
        <p>Yes, cookies can be removed from your hard drive. Also, depending on what type of web browser and what browser
          version you are using, you may be able to change the properties on your cookie file so that cookies are not used
          or
          saved. Please check with your browser provider for more information on removing cookies.</p>
        <ol class="ul-number mb-20">
          <li>
            <strong>DEFINITIONS</strong><br>
            The definitions (as to how certain words are to be interpreted in these Terms) are set out in full at Clause 20.
          </li>
          <li>
            <strong>GENERAL &amp; THE SERVICES</strong>
            <ol class="mt-10">
              <li>By using any of the Services and the Platform, You expressly agree to be bound by these Terms and all
                applicable laws and regulations governing the Platform and the Services. These Terms form a legally binding
                agreement between You and Us in relation to Your use of the Services (who may also be contributors of UGC
                posted
                on the Platform).</li>
              <li>
                Subject at all times to You not being in breach of any of these Terms, We enable You to, inter alia:
                <ul type="a" class="inner-lower-alpha mt-10">
                  <li>input Your Seller Vehicle Information in to the <strong>Vehicle Valuation Tool </strong>to receive
                    Valuation Offers for FREE with just 2 hours of Your request;</li>
                  <li>request up to two (2) Valuation Offers in any one day (for different Vehicles) using Our
                    <strong>Vehicle
                      Valuation Tool;</strong></li>
                  <li>choose to reject or accept a Valuation Offer;</li>
                  <li>have the opportunity to request a call-back with a Trade Dealer to negotiate a better Valuation Offer;
                  </li>
                  <li>access and view, by way of Your Seller Login what Valuation Offers You have received and when, the
                    status
                    of Your responses where You have rejected or accepted an Offer (or chosen to request a call-back from a
                    Trade Dealer to negotiate a better Valuation Offer); </li>
                  <li>book Your Appointment for the Vehicle Inspection using Our <strong>Appointment Booking Tool;</strong>
                  </li>
                  <li>have Your Seller Vehicle Information (and Your Seller Contact Data) promptly transferred to the Dealer
                    via
                    the Platform to facilitate the provision of the Services to You with a view to You and the Dealer
                    completing
                    a Transaction during the Completion Period; </li>
                  <li>complete the Transaction off the Platform direct with the Dealer at the Appointment Location or as
                    otherwise agreed with the Dealer; and,</li>
                  <li>benefit from any other features that SMC may add from time to time.</li>
                  <h5><strong>(‘Services’)</strong></h5>
                </ul>
    
              </li>
              <li>You should read these Terms carefully and ensure that You understand the effect before proceeding to use
                the
                Platform to access the Services. If You disagree with any part of these Terms, do not use the Platform for
                the
                purpose of the Services. If You violate these Terms, We may terminate Your use of the Platform, bar You from
                future use of the Platform and/or take appropriate legal action against You.</li>
              <li>We reserve the right to make reasonable minor changes to these Terms at any time without notice which
                shall be
                effective immediately upon posting on the Platform. You agree that We will treat Your use of the Platform as
                acceptance of these Terms including Your continued use subsequent to any such changes being posted. Where
                changes may be more significant and have more of an impact on Your decision-making process, You will be
                asked to
                review and accept Our new amended terms the next time You log in to access the Services.</li>
            </ol>
          </li>
          <li><strong>SELLER REGISTRATION</strong>
            <ol class="mt-10">
              <li>In order to make use of the Services, You will undergo a simple registration process. Upon successfully
                registering, You will receive a link in an email which requires You to click on it to verify Your email
                address
                <strong>(‘Confirmation Email’).</strong> This helps us to reduce spam. You will be transferred back to the
                Platform where You can enter Your email and choose a password. Once verified successfully, Your password and
                Your email address will represent Your Seller Login which You can use to access Your Seller Account via the
                Platform in accordance with these Terms.</li>
              <li>You will keep Your Seller Login relevant to the Platform and the Services confidential and not reveal it
                to
                anyone else. You are responsible for all activities that are carried out under Your Seller Login. We do not
                necessarily have the means to check the identities of all persons using the Platform and will not be liable
                where Your Seller Login is unlawfully used by another. You agree to notify SMC immediately by email to <a
                  href="mailto:admin@sellmycar.direct">admin@sellmycar.direct</a> of any unauthorised use of Your Seller
                Login
                or Seller Account of which You become aware (with <strong>“IMPORTANT”</strong> in the subject line). You
                will
                not create additional accounts for the purpose of abusing the functionality of the Platform or other
                registered
                Sellers or for any other reason in breach of these Terms.</li>
              <li>You can cancel Your Seller Account at any time by accessing Your Seller Account and following the online
                steps. Alternatively, You can ask Us to deactivate Your Seller Account for You by sending an email to <a
                  href="mailto:admin@sellmycar.direct">admin@sellmycar.direct</a> with <strong>“URGENT – CANCELLATION
                  REQUEST”</strong> in the subject line.</li>
              <li>You may not transfer ownership or sell Your Seller Account to a third party. We reserve the right (but do
                not
                assume the obligation) to suspend and/or terminate Your access if We have any reason to suspect that You
                have
                engaged in, or have in any way been involved in, or linked to, any fraudulent activity in connection with
                any
                Valuation Offer or Your use of the Platform or that You have misused the Platform or breached your
                obligations
                under these Terms. We reserve the right to delete Your Seller Account after a twelve (12) month long
                continuous
                period of inactivity, otherwise, it shall remain active in accordance with the <a
                  href="https://sellmycar.direct/customer/privacy">Privacy Statement</a>.</li>
              <li><strong>Although We cannot monitor the conduct of Sellers and Dealers off the Platform, it is a violation
                  to
                  use any information obtained from this Platform in order to harass, abuse, or harm another person, or in
                  order
                  to contact, advertise to, solicit or sell to any other SMC User without their prior explicit
                  consent.</strong>
              </li>
            </ol>
          </li>
          <li><strong>VALUATION OFFERS</strong>
            <ol class="mt-10">
              <li>A Seller can request Valuation Offers from the Dealer Network via the Platform for FREE.</li>
              <li>A Seller may input the basic Seller Vehicle Information (and Seller Contact Data) in to the Platform via
                the
                <strong>Vehicle Valuation Tool</strong> which consists of the Vehicle registration, postcode,
                town/village/city
                (of where the Vehicle is located) in order to receive <strong><i>up to</i></strong> ten (10) Valuation
                Offers
                <strong>(“Top Ten Valuation Offer(s)”)</strong> within just 2 hours! You will receive these by SMS. Each
                Valuation Offer received will contain the Dealer Information i.e. name, logo, link to privacy notice and
                distance from Your postcode that You submitted. You can accept immediately when You receive Your Valuation
                Offer
                Notification by SMS or at any time during the Valuation Offer Validity Period. Alternatively, You can choose
                to
                reject (or ignore) one or more Valuation Offers (or choose to request a call-back from a Trade Dealer to
                negotiate a better Valuation Offer).</li>
              <li>When You accept a Valuation Offer, You will be required to book Your Appointment with the relevant Dealer.
              </li>
              <li>Once a Valuation Offer is accepted, We will send You a Valuation Offer Acceptance Notification. You then
                have
                seven (7) days to book the Appointment with the relevant Dealer <strong>(‘Appointment Booking
                  Window’)</strong>
                after which the Valuation Offer will expire.</li>
              <li>Once You have booked the Appointment, You will receive an Appointment Confirmation Email with all the
                Appointment Details.</li>
              <li>If for some unforeseen intervention or circumstance, You need to re-arrange the Appointment, You agree to
                notify the Dealer immediately and in any event within twenty-four (24) hours of the booked Appointment. At
                the
                Appointment, a Vehicle Inspection will take place. Upon completion of the Vehicle Inspection, in the event
                that
                the Dealer remains interested in buying Your Vehicle, You will receive a Final Offer (which may the same,
                lower
                or higher than the initial Valuation Offer) which You can accept or reject.</li>
              <li>You can re-visit the Platform at any time (after the Valuation Offer Validity Period has expired) to
                receive a
                new Valuation Offer which may be the same, higher or lower than the initial Valuation Offer.</li>
            </ol>
          </li>
          <li><strong>SELLER RULES</strong>
            <ol class="mt-10">
              <li>
                Sellers who request Valuation Offers via the Platform are subject to certain Seller Rules which Sellers
                warrant,
                represent and undertake as follows:
                <ul class="inner-lower-alpha mt-10">
                  <li>subject to Clause 2.2(b), You cannot request another Valuation Offer for the same Vehicle prior to the
                    expiry of the Valuation Offer Validity Period but You can request one for one other Vehicle on the same
                    day;
                  </li>
                  <li>you shall act honestly and in good faith at all times and shall provide accurate and complete Seller
                    Vehicle Information;</li>
                  <li>you must be at least 18 years of age;</li>
                  <li>you must keep Your Seller Login details (as applicable), secure and confidential;</li>
                  <li>your Vehicle represented on the Platform must in fact exist and be available in the condition as you
                    describe it;</li>
                  <li>you are the legal owner of the Vehicle and you have full power and authority to transfer good title
                    free
                    from all third party rights or claims in the Vehicle to any Dealer;</li>
                  <li>all information submitted to the Platform in respect of You, the Seller Vehicle Information, Your
                    Seller
                    Contact Data and all other information or data is true, accurate and complete in all respects. It is
                    understood and accepted that as a Seller, you shall accept all liability for any error, omission or
                    misrepresentation;</li>
                  <li>you will comply with all applicable laws at all times;</li>
                  <li>you are solely responsible for any breach of Your obligations under these Terms due to Your act,
                    omission,
                    default or Your failure to comply with any of Your obligations under these Terms and for the
                    consequences of
                    any such breach or failure.</li>
                  <li>all Vehicles and everything in or attached to the Vehicle (including parts) are included in the
                    potential
                    sale and are sold in their current state with all faults and imperfections;</li>
                  <li>in the provision of the Seller Vehicle Information (or any other information or UGC), you must not
                    establish a link to any website or other area or include any publicity, advertisement or other statement
                    relating to any goods or services except where such link, publicity, advertisement or other statement
                    relates directly to the Vehicle; and,</li>
                  <li>you must not do anything which would damage or otherwise affect the proper operation of the Platform.
                  </li>
                </ul>
              </li>
              <li>We may request feedback from You in accordance with the Privacy Statement and in particular, upon the
                expiry
                of a Completion Period.</li>
            </ol>
          </li>
          <li><strong>CHARGES &amp; PAYMENT</strong>
            <ol class="mt-10">
              <li>No fees or charges are payable by You. You can use the Platform to access the Services for FREE.</li>
              <li>In the event that You accept a Final Offer from the Dealer following an Appointment, the Dealer’s terms in
                their Purchase Contract will govern the Transaction in respect of the Final Agreed Price and the Dealer will
                collect Your Payment Details from You directly.</li>
            </ol>
          </li>
          <li><strong>TITLE AND RISK</strong>
            <ol class="mt-10">
              <li>Title in a Vehicle shall not pass to the Dealer until the Final Agreed Price has been received in full and
                cleared funds by You.</li>
              <li>Risk shall pass to the Dealer upon taking physical possession of the Vehicle.</li>
              <li>
                Where the Dealer has obtained possession of a Vehicle before payment in full has been made, We procure that
                the
                Dealer acknowledges and declares that it holds the Vehicle on a fiduciary basis as mere bailee for You shall
                store the Vehicle (at no cost to You) in the same condition as it was taken from You and the Dealer shall
                grant
                to You the right to enter upon any premises where the Vehicle is located or believed to be located for the
                purposes of recovering the Vehicle.
              </li>
            </ol>
          </li>
          <li><strong>OUR OBLIGATIONS</strong><br>
            We agree to:
            <ul class="inner-lower-alpha mt-10">
              <li>provide the Services with all due care, skill and ability and in Your best interests;</li>
              <li>devote as much time to the provision of the Services as may be necessary for their proper performance;
              </li>
              <li>act in accordance with the applicable legislation;</li>
              <li>provide promptly, and give to You, all such information as You may reasonably require in connection with
                the
                provision of the Services; and,</li>
              <li>provide a response in a timely manner to any requests for technical support (in relation to the use of the
                Platform only).</li>
            </ul>
          </li>
          <li><strong>DATA PROTECTION</strong>
            <ol class="mt-10">
              <li>We shall comply with all applicable data protection requirements set out in the Data Protection
                Legislation.
                Your Personal Data shall be processed (and shared with a relevant Dealer) in accordance with Our <a
                  href="https://sellmycar.direct/customer/privacy">Privacy Statement</a> located on Our Platform).</li>
            </ol>
          </li>
          <li><strong>WARRANTIES AND INDEMNITIES </strong>
            <ol class="mt-10">
              <li>As a Seller, you acknowledge that the Services are limited to providing an exclusive, open marketplace
                through
                which Sellers can sell Vehicles via a dedicated Platform. SMC is not itself directly involved in any
                Transaction. Consequently, SMC cannot transfer legal ownership of a Vehicle and cannot make any guarantees
                to
                You who enters a Transaction with the relevant Dealer at Your own risk. For the avoidance of doubt, We:
                <ul class="inner-lower-alpha mt-10">
                  <li>have no control over the quality, morality, safety or legality of a Vehicle;</li>
                  <li>do not take ownership of any Vehicles;</li>
                  <li>are not legally privy to any Purchase Contract that may arise when a Final Offer is accepted during
                    the
                    Completion Period pursuant to a Transaction;</li>
                  <li>do not guarantee that any minimum number of Valuation Offers will be received by You or that any
                    Vehicles
                    will be sold via the Platform;</li>
                  <li>do not guarantee any of the Dealer obligations on its behalf;</li>
                  <li>do not guarantee that the Dealer will honour the Valuation Offer or any Final Offer; and, </li>
                  <li>do not guarantee that interruptions of the Services accessible via the Platform will not occur at any
                    time.</li>
                </ul>
              </li>
              <li>You release, acquit and forever discharge Us from any and all Claims asserted against, or Losses suffered
                by
                You (actual and consequential, direct or indirect) of every kind and nature, known and unknown, suspected
                and
                unsuspected, disclosed and undisclosed, arising out of or in any way connected with:
                <ul class="inner-lower-alpha mt-10">
                  <li>your warranties in respect of the Seller Rules;</li>
                  <li>any Valuation Offer (or Final Offer); </li>
                  <li>your acceptance of a Final Offer and any subsequent Transaction with the Dealer;</li>
                  <li>the acts, omissions and conduct of any SMC Users in connection with, or otherwise related to, Your use
                    of
                    the Platform and/ or the Services;</li>
                  <li>any mis-descriptions, misrepresentations, inaccuracy or incompleteness in respect of the authenticity
                    or
                    suitability of any Vehicle as described by You (whether innocent, negligent or fraudulent);</li>
                  <li>the Dealer’s failure to perform, or delay in performance of, any of its obligations under these Terms
                    as
                    procured by Us or pursuant to the Dealer’s Purchase Contract;</li>
                  <li>your failure or inability to use the Services or any Platform functionality at any point in time, or,
                    where the Platform is unavailable at any time for any period;</li>
                  <li>linked third party website or any statements, information, content, products or services that are
                    published on, or may be accessible from, any linked third party website including any third party
                    customer/
                    client facing policies/ contractual terms;</li>
                  <li>any changes which We may make to the Services, or for any permanent or temporary cessation in the
                    provision of the Services (or any features within the Services); </li>
                  <li>any errors or omissions in Our Platform or in relation to any reliance placed by You on any content on
                    the
                    Platform or accuracy thereto;</li>
                  <li>any unauthorised access or loss of Personal Data that is beyond Our control; and,</li>
                  <li>any breach of these Terms by a Seller or attributable to the acts or omissions of a Seller (other than
                    and
                    to the extent that any losses arise directly from breach of these Terms by Us or by Our negligence).
                  </li>
                </ul>
              </li>
              <li>Subject to Clause 10.5, We shall in no circumstances be liable to You in contract, tort (including
                negligence)
                or otherwise for any consequential, special or incidental loss or damage (whether direct or indirect) or any
                loss of profit, anticipated profits, business, data, opportunity, revenue, goodwill, or reputation arising
                from
                Your use of the Platform or the Services. Our sole liability and remedy to You whether in contract, tort or
                otherwise shall be limited to the fees paid to Us by the Dealer by way of a lead generation fee.</li>
              <li>You acknowledge and agree that to improve the Platform and/ or the Services, We may stop (permanently or
                temporarily) providing the Services (or any features within the Services) to You generally at Our sole
                discretion, without prior notice to You. </li>
              <li>Nothing in these Terms is intended nor shall it be construed as an attempt by any party to exclude or
                limit
                any liability for:
                <ul class="inner-lower-alpha mt-10">
                  <li>fraudulent misrepresentations;</li>
                  <li>any liability where the law does not permit such exclusion of liability; and,</li>
                  <li>death or personal injury arising from negligence.</li>
                </ul>
              </li>
              <li>Subject to Clause 10.5 and except as expressly set out in these Terms, We give no warranties and exclude
                all
                other express or implied terms, conditions and warranties. We shall not be liable to You for any Claims or
                Losses suffered by You whatsoever at the hands of a Dealer or any other third party. Nothing in these Terms
                will
                adversely affect the statutory rights of any Seller.</li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
        