.staff-bid-list_inner  {
  @media (max-width:500px) {
      text-align: center;
  }
  p{
      margin-bottom: 5px;
      // @media (min-width:767px) {
      //     font-size: 18px;
      // }
  }
  .col-md-9 {
      @media (max-width:1130px) {
          flex: 0 0 70%;
          max-width: 70%;
      }
      @media (max-width:690px) {
          flex: 0 0 100%;
          max-width: 100%;
      }

      .col-sm-3 {
          .user-avtar {
              @media (max-width:500px) {
                  max-width: 250px;
                  margin: 0px auto;
              }
          }
          @media (max-width:1130px) {
              max-width: 30%;
              flex: 0 0 30%;
          }
          @media (max-width:767px) {
              flex: 0 0 38%;
              max-width: 38%;
          }
          @media (max-width:500px) {
              flex: 0 0 100%;
              max-width: 100%;
          }
      }
      .col-sm-9 {
          @media (max-width:1130px) {
              flex: 0 0 70%;
              max-width: 70%;
          }
          @media (max-width:767px) {
              flex: 0 0 62%;
              max-width: 62%;
          }
          @media (max-width:500px) {
              flex: 0 0 100%;
              max-width: 100%;
          }
      }
  }
  .col-md-3 {
      @media (max-width:1130px) {
          max-width: 30%;
          flex: 0 0 30%;
      }
      @media (max-width:1130px) {
          max-width: 100%;
          flex: 0 0 100%;
          text-align: left !important;
      }
      @media (max-width:500px) {
          flex: 0 0 100%;
          text-align: center !important;
      }
  }
}
