<table @stagger *ngIf="requests" [dataSource]="requests" matSortActive={{sortKey}} matSortDirection={{sortDirection}} matSortDisableClear matSort (matSortChange)="sortData($event)" class="w-full" mat-table>
	<ng-container matColumnDef="first_name">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>First Name</th>
		<td *matCellDef="let item" mat-cell>{{ item?.first_name }}</td>
	</ng-container>
    <ng-container matColumnDef="last_name">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Last Name</th>
		<td *matCellDef="let item" mat-cell>{{ item?.last_name }}</td>
	</ng-container>
    <ng-container matColumnDef="year">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Year</th>
		<td *matCellDef="let item" mat-cell>{{ item?.year }}</td>
	</ng-container>
    <ng-container matColumnDef="brand">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Brand</th>
		<td *matCellDef="let item" mat-cell>{{ item?.make | excerpt:30 }}</td>
	</ng-container>
    <ng-container matColumnDef="model">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Model</th>
		<td *matCellDef="let item" mat-cell>{{ item?.model | excerpt:30 }}</td>
	</ng-container>
    <ng-container matColumnDef="trim">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Trim</th>
		<td *matCellDef="let item" mat-cell>{{ item?.trim | excerpt:30 }}</td>
	</ng-container>
    <ng-container matColumnDef="contact_owner_email">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Contact Owner</th>
		<td *matCellDef="let item" mat-cell>{{ item?.contact_owner_email }}</td>
	</ng-container>
    <ng-container matColumnDef="source">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Source</th>
		<td *matCellDef="let item" mat-cell>{{ item?.source }}</td>
	</ng-container>
	<ng-container matColumnDef="created_at">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Created At</th>
		<td *matCellDef="let item" mat-cell>{{ item.created_at | date:'MM/dd/yyy h:mm a' }}</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th *matHeaderCellDef mat-header-cell></th>
		<td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
			<button (click)="$event.stopPropagation();getSelectedRecord(row)"
				[matMenuTriggerData]="{ customer: row }"
				[matMenuTriggerFor]="actionsMenu"
				mat-icon-button
				type="button">

				<mat-icon svgIcon="mat:more_horiz"></mat-icon>
			</button>
		</td>
	</ng-container>

	<tr *matHeaderRowDef="getDisplayedColumns(); sticky: true" mat-header-row></tr>
	<tr
		*matRowDef="let row; columns: getDisplayedColumns();"
			routerLink="./{{row.id}}"
			@fadeInUp
			class="hover:bg-hover trans-ease-out cursor-pointer"
			mat-row></tr>
</table> 

<div class="text-center mt-2" *ngIf="(didFetch$ | async) && requests.length === 0">There are no CB2 leads available. Please enter in a CB2 to view them here</div>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
<ng-template let-customer="customer" matMenuContent>
    <button mat-menu-item routerLink="./{{selectedRecordDetail?.id}}">
        <mat-icon svgIcon="mat:remove_red_eye"></mat-icon>
        <span>View</span>
    </button>
</ng-template>
</mat-menu>

