.container {
  padding: 14px 14px;

  mat-icon {
    float: right !important;
    cursor: pointer;
  }

  button {
    width: 100%;
    margin-left: 0%;
  }

  #del-icon {
    height: 100px;
    width: 100px;
  }

  #content-span {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
  }

  @media screen and (max-width: 575px) {
    .col-lg-6,
    .col-md-6 {
      flex-basis: 100%;
    }

    button {
      width: 100%;
      margin-left: 0;
    }

    #content-span {
      font-size: 15px !important;
    }
  }

  @media screen and (max-width: 360px) and (max-height: 740px) {
    #content-span {
      font-size: 15px !important;
    }
  }

  @media screen and (max-width: 280px) {
    #content-span {
      font-size: 11px !important;
      font-weight: 500;
    }
  }

  #content-span {
    font-size: 15px !important;
  }

  @media screen and (max-width: 280px) {
    #content-span {
      font-size: 11px !important;
      font-weight: 500;
    }
  }

  #no {
    margin-left: 6px;
  }
}
