<div
  class="container search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
  [scrollWindow]="false"
>
  <div *ngFor="let group of sorteData" class="row">
    <div class="col mt-1">
      <p>This Month: Date : {{ group.date | date : "dd-MM-yyyy" }}</p>
      <div>
        <div class="container mb-2">
          <div class="flex flex-wrap -mx-2 justify-start">
            <ng-container
              *ngFor="let screenshot of group.screenShots; let i = index"
            >
              <div class="w-1/6 p-1">
                <img
                  [src]="screenshot.screen"
                  alt="Screenshot"
                  class="w-full h-auto cursor-pointer"
                  (click)="viewScreenShot(screenshot.screen)"
                  data-toggle="tooltip"
                  [title]="
                    'Mouse Clicks: ' +
                    screenshot.mouseclicks +
                    ', Key Presses: ' +
                    screenshot.keypresses
                  "
                />
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <!-- <ng-container *ngIf="isLoading">Loading...</ng-container> -->
  </div>
</div>
