  
.file-upload {
    display: none;
}

.p-image {
  position: absolute;
  bottom: -5%;
  left: 8%;
  color: #999;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);

  @media screen and (max-width:600px) {
    bottom: -15%;
    left: 78%;
  }
}

.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.profile {
  // height: 96px;
  // width: 90px;
  height: 100px;
  width: 100px;
  border-radius: 9999px;
  background-color: var(--background-hover);
  object-fit: fill;
}