    <mat-card style="background-color: #f9f9f9; padding: 2%; min-height: 100vh; max-height: fit-content;">
        <mat-card-header style="display: flex; justify-content: space-between;">
            <mat-card-title>Test Description</mat-card-title>
            <br>
            <button class="custom-btn-style" type="submit" mat-stroked-button (click)="startTest()"> Start Test
            </button>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Duration:</strong> 45 minutes</p>
            <p><strong>Purpose:</strong> This test aims to evaluate your proficiency and understanding in Computer
                Science. It is designed to assess your ability to apply concepts, solve problems, and make informed
                decisions within a limited time frame.</p>
            <p><strong>Instructions:</strong></p>
            <ul>
                <li>You will have 45 minutes to complete the test.</li>
                <li>Please read each question carefully and consider all options before selecting your answer.</li>
                <li>Some questions may have multiple correct answers, so ensure to select all that apply.</li>
                <li>Once you submit your answers, you will not be able to revise them, so review your responses
                    carefully.</li>
                <li>It is recommended to have a quiet and distraction-free environment to focus during the test.</li>
                <li>Avoid using any external resources or seeking assistance from others while taking the test.</li>
                <li>A stable internet connection is required to complete the test successfully.</li>
            </ul>
            <p><strong>Scoring:</strong> Your score will be based on the accuracy and completeness of your responses.
                Partial credit may be awarded for partially correct answers in certain questions.</p>
            <p><strong>Rules:</strong></p>
            <ol>
                <li>Do not use any external resources, including books, notes, or online sources, to answer the
                    questions.</li>
                <li>Do not collaborate or discuss the test questions with others.</li>
                <li>Do not attempt to cheat or engage in any form of academic dishonesty.</li>
                <li>Do not share the test questions or your answers with anyone else.</li>
                <li>Do not access any other websites or applications during the test.</li>
                <li>Do not use any electronic devices other than the one you are taking the test on.</li>
                <li>Do not leave the test page or close the browser window until you have completed and submitted the
                    test.</li>
            </ol>
            <p><strong>Good luck!</strong> We hope you find this test both challenging and rewarding as you showcase
                your expertise in Computer Science.</p>
        </mat-card-content>
    </mat-card>