.innerbg-1 {
  background-image: url('../../../../assets/img/common/dentallist.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 250px;
}
