<div class="app-body auth-bg">
  <main class="main form-design-1 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-11 col-md-7 mx-auto">
          <div class="pt-30 pb-70 sm-pb-50">
            <div class="no-border ">
              <div class="text-center">
                <a class="navbar-brand mb-60" [routerLink]="['/']"><img alt="" class="max-width-305" src="../../../../assets/img/brand/Densub_Logo.png" width="320"></a>
                <h1 class="clr-white m-0 text-uppercase title">Reset passowrd</h1>
                <p class="text-muted">Enter your email address to receive a link to reset your password.</p>
                <!-- <p class="text-muted">Forgot your password? No problem. Just enter your email below and we'll send you a link to reset it.</p> -->
              </div>
              <div class="card-body pr-25 pl-25 pb-25 pt-10 xs-pr-0 xs-pl-0">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <!-- <i class="fa fa-envelope-o"></i> -->
                      <img src="../../../../assets/img/common/email.png" alt="">
                    </span>
                  </div>
                  <input type="email" [(ngModel)]="userData.email" class="form-control" placeholder="Email address"
                    id="forgotEmail" (ngModelChange)="checkValidEmail()">
                </div>
                <p class="alert custom-p alert-danger validation-font-size  text-left" role="alert" *ngIf="!validEmail">
                  Your email address is invalid. Please enter a valid address.
                </p>
                <h6 class="text-danger">{{errorMessage}}</h6>
                <h6 class="text-success">{{successMessage}}</h6>
                <!-- <a href="{{emailLink}}" *ngIf="emailLink">Sorry now you will not able to receive email. Please click here for reset passowrd</a> -->
                <div class="row ml-0 mr-0 flex-nowrap border-top gray-border pt-30 mt-30">
                  <!-- <div class="col"> -->
                    <button type="button" routerLink="/login" class="btn btn-secondary px-4 btn-gray  w-50 mr-2">Cancel</button>
                    <button type="button" [disabled]="userData.email == '' || !this.validEmail"
                      (click)="forgotPassword()" class="btn btn-primary px-4 ml-2 w-50">Submit
                      <span> <i loadingMessage="" *ngIf="loading" class="fa fa-refresh fa-spin ml-2"
                          aria-hidden="true"></i></span>
                    </button>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
