<vex-page-layout>
	<vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
		<div class="w-full flex flex-col sm:flex-row justify-between">
			<div>
				<h1 class="title mt-0 mb-1">Deals</h1>
				<vex-breadcrumbs [crumbs]="['Deals']"></vex-breadcrumbs>
			</div>
		</div>
	</vex-page-layout-header>

	<vex-page-layout-content class="-mt-6">

		<div class="card -mt-16">
			<div class="head bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
				<h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
					<span>Deals</span>
				</h2>

				<div class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
					<mat-icon class="icon-sm text-secondary search-icon" svgIcon="mat:search"></mat-icon>
					<input [(ngModel)]="search"
						class="px-4 py-2 border-0 outline-none w-full bg-transparent"
						placeholder="Search..."
						name="searchSource"
						type="search"
						#searchInput
						(ngModelChange)="onClearSearch($event)">
				</div>

				<span class="flex-1"></span>

				<div *ngIf="boardView" class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
					<mat-select name="deal_stage" #dealStageSelect placeholder="Deal Stage"
						class="px-4 py-2 border-0 outline-none w-full bg-transparent" 
						(selectionChange)="selectedDealStage($event)" [value]="dealStageName">
							<mat-option>
								<ngx-mat-select-search [placeholderLabel]="'Search...'"
									[noEntriesFoundLabel]="'No matches' " [formControl]="dealStageFilterCtrl"
									[preventHomeEndKeyPropagation]="true">
									<mat-icon ngxMatSelectSearchClear>delete</mat-icon>
								</ngx-mat-select-search>
							</mat-option>
						<mat-option *ngFor="let item of filteredDealStage" [value]="item.pipeline">
							{{item.pipeline}}
						</mat-option>
					</mat-select>
				</div>

				<button class="ml-4 flex-none" mat-icon-button
						matTooltip="{{ !boardView ? 'View deals as a board' : 'View deals as a list' }}" type="button"
						(click)="toggleView()">
					<mat-icon [svgIcon]="!boardView ? 'mat:grid_on' : 'mat:view_list'"></mat-icon>
				</button>

				<button
					class="ml-4 flex-none"
					mat-icon-button
					matTooltip="Filters"
						(click)="showFilterOptions = !showFilterOptions"
					type="button">
					<mat-icon svgIcon="mat:filter_list"></mat-icon>
				</button>

				<button mat-icon-button type="button" class="ml-4 flex-none" (click)="onExport()" color="primary" matTooltip="Export Deals">
					<mat-icon class="text-secondary" svgIcon="mat:cloud_download"></mat-icon>
				</button>

				<button
					[matMenuTriggerFor]="columnFilterMenu"
					mat-icon-button
					class="ml-4 flex-none"
					color="primary"
					matTooltip="Column Filters"
					type="button">
					<mat-icon svgIcon="mat:settings"></mat-icon>
				</button>
			</div>

<!--Filter Starts Here-->
	<div class="head bg-app-bar px-6 pt-7 h-16 sticky left-0 flex items-center" @fadeInUp *ngIf="showFilterOptions"> 
		<form [formGroup]="filterForm" class="w-full" (ngSubmit)="filterSubmit()">
		<div class="grid grid-cols-1 sm:grid-cols-5 gap-4">
			<div class="flex items-center">
				<mat-form-field class="filter">
					<mat-label>Year</mat-label>
					<mat-select [formControl]="filterForm.controls['year']" #yearSelect
						(selectionChange)="selectedYear($event);applyFilter($event)">
						<mat-option>
						<mat-option>
						<ngx-mat-select-search [placeholderLabel]="'Search...'"
							[noEntriesFoundLabel]="'No matches' " [formControl]="yearFilterCtrl"
							[preventHomeEndKeyPropagation]="true">
							<mat-icon ngxMatSelectSearchClear>delete</mat-icon>
						</ngx-mat-select-search>
					</mat-option>
					</mat-option>
						<mat-option>All</mat-option>
						<mat-option *ngFor="let item of filteredYears" [value]="item">
							{{item}}
						</mat-option>
					</mat-select>
					</mat-form-field>
			</div>
			<div class="flex items-center">
				<mat-form-field class="filter">
					<mat-label>Make</mat-label>
					<mat-select [formControl]="filterForm.controls['make']" #makeSelect
						(selectionChange)="selectedMake($event);applyFilter($event)">
					<mat-option>
						<ngx-mat-select-search [placeholderLabel]="'Search...'"
							[noEntriesFoundLabel]="'No matches' " [formControl]="makeFilterCtrl"
							[preventHomeEndKeyPropagation]="true">
							<mat-icon ngxMatSelectSearchClear>delete</mat-icon>
						</ngx-mat-select-search>
					</mat-option>
						<mat-option>All</mat-option>
						<mat-option *ngFor="let item of filteredMakes" [value]="item.id">
							{{item.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="flex items-center">
				<mat-form-field class="filter">
					<mat-label>Model</mat-label>
						<mat-select [formControl]="filterForm.controls['model']" #modelSelect (selectionChange)="applyFilter($event)">
						<mat-option>
							<ngx-mat-select-search [placeholderLabel]="'Search...'"
								[noEntriesFoundLabel]="'No matches' " [formControl]="modelFilterCtrl"
								[preventHomeEndKeyPropagation]="true">
								<mat-icon ngxMatSelectSearchClear>delete</mat-icon>
							</ngx-mat-select-search>
						</mat-option>
							<mat-option>All</mat-option>
							<mat-option *ngFor="let item of filteredModels" [value]="item.id">
								{{item.name}}
							</mat-option>
						</mat-select>
				</mat-form-field>
			</div>
			<div class="flex items-center">
				<mat-form-field class="filter">
					<mat-label>Contact Owner</mat-label>
					<mat-select [formControl]="filterForm.controls['contact_owner']" #portalUsersSelect
						multiple (selectionChange)="applyFilter($event, 'owner')">
					<mat-option>
						<ngx-mat-select-search [placeholderLabel]="'Search...'"
							[noEntriesFoundLabel]="'No matches' " [formControl]="portalUserFilterCtrl"
							[preventHomeEndKeyPropagation]="true">
							<mat-icon ngxMatSelectSearchClear>delete</mat-icon>
						</ngx-mat-select-search>
					</mat-option> 
						<mat-option (click)="checkAllContactOwner(0)" value="0">All</mat-option>
						<mat-option [value]="-1">No Owner</mat-option>
						<mat-option *ngFor="let item of filteredPortalUsers" [value]="item.id">
							{{item.full_name}} ({{item.email}})
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="flex items-center">
				<mat-form-field class="filter">
					<mat-label>Source</mat-label>
					<mat-select [formControl]="filterForm.controls['source']" #sourceSelect multiple (selectionChange)="applyFilter($event)">
					<mat-option>
						<ngx-mat-select-search [placeholderLabel]="'Search...'"
							[noEntriesFoundLabel]="'No matches' " [formControl]="sourceFilterCtrl"
							[preventHomeEndKeyPropagation]="true">
							<mat-icon ngxMatSelectSearchClear>delete</mat-icon>
						</ngx-mat-select-search>
					</mat-option>
						<mat-option (click)="checkAllSource()" value="10">All</mat-option>
						<mat-option *ngFor="let item of filteredSourcess | sort:'name'" [value]="item.id">
							{{item.name}}
						</mat-option>
					</mat-select>
			</mat-form-field>
			</div>

			<div class="flex items-center">
				<mat-form-field class="filter">
					<mat-label>Deal Stages Pipeline</mat-label>
					<mat-select [formControl]="filterForm.controls['deal_stage_pipeline']" #dealStagePipelineSelect multiple (selectionChange)="applyFilter($event)">
					<mat-option>
						<ngx-mat-select-search [placeholderLabel]="'Search...'"
							[noEntriesFoundLabel]="'No matches' " [formControl]="dealStagePipelineFilterCtrl"
							[preventHomeEndKeyPropagation]="true">
							<mat-icon ngxMatSelectSearchClear>delete</mat-icon>
						</ngx-mat-select-search>
					</mat-option>
						<mat-option (click)="checkAllDealStagePipeline()" value="10">All</mat-option>
						<mat-option *ngFor="let item of filtereddealStagePipeline | sort:'pipeline'" [value]="item.pipeline">
							{{item.pipeline}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			
			<div class="filter-checkbox items-center">
				<mat-checkbox color="primary" [aria-label]="isSubscribedToEmailsMessage" [checked]="filterForm.controls['referrals'].value == 'WithRef'" (change)="setRefCheckBox($event.checked);applyFilter($event)" #referralSelect>
					Only show deals with Referral codes
				</mat-checkbox>
			</div>
			<div class="filter-checkbox items-center">
				<mat-checkbox color="primary" [aria-label]="isSubscribedToEmailsMessage" [checked]="filterForm.controls['closedwon'].value == 'closedWon'" (change)="setClosedWonCheckBox($event.checked);applyFilter($event)" #closedWonSelect>
					Only show deals that are Closed Won
				</mat-checkbox>
			</div>
			<app-carblip-calendar class="m-flex items-center" [dateRange]="daterrange" (onChange)="onCalendarChange($event)">
			</app-carblip-calendar>
	</div>
		</form>
	</div>
	<!--Filter Ends Here-->
	<mat-progress-bar *ngIf="(fetching$ | async)" mode="indeterminate"></mat-progress-bar>
		<span *ngIf="!boardView">
			<div class="overflow-auto h-full-vh sticky">
				<app-requests-table class="display-block w-100 list-table" *ngIf="isColumnAvailable" [columnHeaders]="columnHeaders"></app-requests-table>
			</div>
			<mat-paginator #paginator [length]="tablePagination.length" [pageSize]="tablePagination.pageSize"
				[pageIndex]="tablePagination.pageIndex" [pageSizeOptions]="[20, 50, 100]" [showFirstLastButtons]="true"
				(page)="onPaginateChange($event)">
			</mat-paginator>
		</span>
		<span *ngIf="boardView">
			<div class="sticky">
				<app-request-board-view class="display-block w-100" [dealStage]="dealStageName" [filters]="dealBoardViewFilters" [search]="dealBoardViewSearch"></app-request-board-view>
			</div>
		</span>
		<!-- Column Filters -->
		<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
			<button (click)="toggleColumnVisibility(column, $event);$event.stopPropagation()" *ngFor="let column of columnHeaders"
					class="checkbox-item mat-menu-item">
			  <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleColumnVisibility(column, $event)" [checked]="column.visible" color="primary">
				{{ column.label }}
			  </mat-checkbox>
			</button>
		</mat-menu>
	</div>

	<div class="mt-6 flex flex-col md:flex-row md:items-start">
		<div class="flex-auto">
			<div class="card">
				<div class="px-gutter py-4 border-b flex justify-content-space-between">
					<h2 class="title m-0">Deal's History</h2> 
						</div>
						<div class="px-gutter">
							<div class="items-center">
								<div class="flex flex-col sm:flex-row justify-content-end mt-4">
									<div class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
										<mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
										<input
											class="px-4 py-2 border-0 outline-none w-full bg-transparent"
											placeholder="Search..."
											name="searchLogSource"
											type="search"
											[(ngModel)]="logSearch" #searchLogInput (ngModelChange)="onClearFilterSearch($event)">
										</div>
								</div>

								<div class="flex flex-col mt-3 sm:flex-row">
									<mat-progress-bar *ngIf="(logFetching$ | async)" mode="indeterminate"></mat-progress-bar>
									<ul class="log-ul" *ngIf="logs?.length > 0"> 
										<li *ngFor="let log of logs">
											<span [innerHTML]="log.content"></span>
											{{ log.created_at | date:'MM/dd/yyy h:mm a'}}
										</li>
									</ul>
						</div>
						<div class="text-center mt-2" *ngIf="(logDidFetch$ | async) && logs?.length == 0">There are no deal's history available.</div> 
						<div class="flex flex-col sm:flex-row justify-content-end">
							<mat-paginator
							#paginator
							[length]="logPagination.length"
							[pageSize]="logPagination.pageSize"
							[pageIndex]="logPagination.pageIndex"
							[pageSizeOptions]="[20, 50, 100]"
							[showFirstLastButtons]="true"
							(page)="onLogPaginateChange($event)"
						>
						</mat-paginator>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</vex-page-layout-content>

	</vex-page-layout>
