<Section class="innerbg-1 position-relative bg-overlay d-flex align-items-center">
	<div class="container">
		<div class="row mb-30 align-center">
			<div class="col-12 text-center">
				<h1 class="fs-50 clr-white position-relative z-index">About Us</h1>
			</div>
		</div>
	</div>
</Section>

<section class="listing-page pt-70 pb-70 sm-pt-50 sm-pb-30 bg-white">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="img-section xs-mb-20 text-center">
					<img src="http://placehold.it/750x450" class="img-fluid" alt="">
				</div>
			</div>

			<div class="col-md-6">
				<div class="content-section">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem qui. Mollitia tenetur at
						ullam
						voluptate, qui magnam provident necessitatibus nihil voluptatum suscipit enim dolor veritatis
						nemo odio modi
						tempore?</p>
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi similique possimus deleniti,
						vel iure
						incidunt quo aut, perferendis sequi, facilis nesciunt. Amet ad dolor qui provident aliquam
						repellendus,
						nostrum beatae.</p>

					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi similique possimus deleniti,
						vel iure
						incidunt quo aut, perferendis sequi, facilis nesciunt. Amet ad dolor qui provident aliquam
						repellendus,
						nostrum beatae.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="listing-page pt-70 pb-70 sm-pt-50 sm-pb-30 bg-gray">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 order-md-2">
				<div class="img-section xs-mb-20 text-center">
					<img src="http://placehold.it/750x450" class="img-fluid" alt="">
				</div>
			</div>

			<div class="col-md-6  order-md-1">
				<div class="content-section">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem qui. Mollitia tenetur at
						ullam
						voluptate, qui magnam provident necessitatibus nihil voluptatum suscipit enim dolor veritatis
						nemo odio modi
						tempore?</p>
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi similique possimus deleniti,
						vel iure
						incidunt quo aut, perferendis sequi, facilis nesciunt. Amet ad dolor qui provident aliquam
						repellendus,
						nostrum beatae.</p>

					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi similique possimus deleniti,
						vel iure
						incidunt quo aut, perferendis sequi, facilis nesciunt. Amet ad dolor qui provident aliquam
						repellendus,
						nostrum beatae.</p>
				</div>
			</div>
		</div>
	</div>
</section>