<div class="bg-pattern w-full h-full flex flex-col items-center justify-center">
  <div [@fadeInUp] class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16" src="../../../assets/icons/vvt-logo.png" />
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Reset Password</h2>
      <h4 class="body-2 text-secondary m-0">
        Enter your email for password recovery.
      </h4>
    </div>

    <div class="container">
      <form [formGroup]="forgetPasswordForm">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            placeholder="johndoe@example.com"
            formControlName="email"
            autocomplete="off"
            required
          />
          <mat-icon
            matSuffix
            class="cursor-pointer"
            matTooltip="send otp"
            *ngIf="email.valid && showSendEmailIcon"
            (click)="sendOtpToUserEmail()"
            svgIcon="mat:send"
          ></mat-icon>
        </mat-form-field>

        <div class="row">
          <div class="otp-box mb-4 text-center" *ngIf="showOtpField">
            <ng-otp-input
              #ngOtpInput
              (onInputChange)="onOtpChange($event)"
              [config]="{ length: 4, allowNumbersOnly: true }"
            >
            </ng-otp-input>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <a
            (click)="resendOtpToUserEmail()"
            *ngIf="showResendOtpLink"
            class="cursor-pointer"
            >Resend OTP?</a
          >
        </div>

        <div *ngIf="showPasswordField">
          <mat-form-field>
            <mat-label>Enter your new password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              minlength="8"
              autocomplete="off"
              required
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon *ngIf="!hide" [svgIcon]="'mat:visibility'"></mat-icon>
              <mat-icon
                *ngIf="hide"
                [svgIcon]="'mat:visibility_off'"
              ></mat-icon>
            </button>
          </mat-form-field>

          <p class="mb-3">
            Max length 8 characters. one uppercase one lowercase one number &
            one special character
          </p>
        </div>

        <div class="links d-flex justify-content-end mb-3">
          <a
            routerLink="/auth/login"
            class="cursor-pointer"
            *ngIf="!showResendOtpLink"
            >Go back to login !</a
          >
        </div>

        <div class="btns mb-5">
          <button
            color="primary"
            mat-raised-button
            (click)="submit()"
            [disabled]="password.invalid"
          >
            Update password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
