.card-rndd{border: 1px solid #eee; border-radius: 20px;}
.fnt-sz{font-size: 35px !important; text-decoration: none;}
a{text-decoration: none;}
.brd-bottom{border-bottom: 2px solid #1f47f5; width: 130px;}
h2{
    font-size: 16px; 
    font-weight: bold;
}
label{
    font-size: 14px;
}
.sml{font-size: 12px; color: #979494;}
.img-widt{
    width: 2%;
    border-radius: 100%;
}
.height-fxd{height: 100vh !important; overflow-y: auto;}
.border-lft{border-top-left-radius: 0px !important; border-bottom-left-radius: 0px !important;}
.border-rgt{border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important;}
.mat-elevation-z8 {
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%);
}