<div class="app-body auth-bg">
  <main class="main form-design-1 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-11 col-md-7 mx-auto">
          <div class="pt-30 pb-70 sm-pb-50">
            <div class="no-border">
              <div class="text-center">
                  <a class="navbar-brand mb-60" [routerLink]="['/']"><img alt="" class="max-width-305" src="../../../../assets/img/brand/Densub_Logo.png" width="320"></a>
                  <h1 class="clr-white m-0 text-uppercase title">Recover Password</h1>
                  <p class="text-muted" *ngIf="!expiredLinkErrorMsg">Enter your New Password and Confirm Password.</p>
                  <div class="alert alert-danger text-center mt-10 mb-10" role="alert" *ngIf="expiredLinkErrorMsg">
                      {{expiredLinkErrorMsg}} <br>
                      <button type="button" routerLink="/login" class="btn btn-secondary px-4 btn-gray w-50 pt-2 ml-2">Login</button>
                  </div>
                </div>
              <div class="card-body  p-4" *ngIf="!expiredLinkErrorMsg">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <!-- <i class="icon-lock"></i> -->
                      <img src="../../../../assets/img/common/lock.png" alt="">
                    </span>
                  </div>
                  <input type="password" id="newPass" [(ngModel)]="userData.password" class="form-control"
                    placeholder="Enter New Password" maxlength="15" (keypress)="AvoidSpace($event)">
                </div>
                <div class="input-group mb-3">

                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <!-- <i class="icon-lock"></i> -->
                      <img src="../../../../assets/img/common/lock.png" alt="">
                    </span>
                  </div>
                  <input type="password" id="confPass" [(ngModel)]="userData.confirmPassword" class="form-control"
                    placeholder="Enter Confirm Password" maxlength="15" (keypress)="AvoidSpace($event)">
                </div>
                <h6
                  *ngIf="((userData.password != '' && userData.confirmPassword != '') && (userData.password != userData.confirmPassword)) ? errorMessage : ''"
                  class="text-danger">{{errorMessage}}
                </h6>
                <div class="row ml-0 mr-0 flex-nowrap border-top gray-border pt-30 mt-30">
                  <!-- <div class="col"> -->
                    <button type="button" routerLink="/home" class="btn btn-primary px-4 mr-2 btn-gray w-50">Cancel</button>
                    <button type="button" [disabled]="(userData.password == '' || userData.confirmPassword == '') || userData.password != userData.confirmPassword"
                      (click)="recoverPassword()" class="btn btn-primary px-4 mr-2 w-50">Login
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
