.first-progress {
  height: 10px;
  width: 100%;
  background: #ddd;
  border-radius: 4px;
}

.second-progress {
  height: 10px;
  background: #43ade5;
  border-radius: 4px;
}

.text-name {
  width: 20%;
  text-align: initial;
}