.stepper-title {
    font-size: 14px;
    font-weight: 500;
    color: #84818A;
}

.stepper-status {
    font-size: 12px;
    padding-top: 6px;
    color: #B6B4BA;
    font-weight: 500;
}

.content-position {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5px;
}
