  <!-- <div class="container">
    <div class="card rndd border-0 p-md-5 p-4 col-lg-6 mx-auto">
      <div class="d-flex justify-content-center">
        <div class="me-2">
          <div class="brd-icon1 text-center"><span>1</span></div>
        </div>
        <div class="col-2 align-self-center me-2"><div class="bg-line1"></div></div>
        <div class="me-2">
          <div class="brd-icon2 text-center"><span>2</span></div>
        </div>
        <div class="col-2 align-self-center me-2"><div class="bg-white"></div></div>
        <div class="me-2">
          <div class="brd-icon2 text-center"><span>3</span></div>
        </div>
      </div>

      <div class="mt-4 pt-3">
        <h2 class="text-dark">Select your role</h2>
        <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
      </div> -->

      <!--<div class="card p-3 mt-5 border mt-card text-start" *ngFor="let card of cards">
        <div class="d-lg-flex">
            <div class="me-4 mb-3 mt-2">
              <small class="bg-icon text-center"><mat-icon class="text-blue sml">{{card.icon}}</mat-icon></small>
            </div>
            <div>
                <h2 class="text-dark h6">{{card.title}}</h2>
                <p class="text-muted small">{{card.title1}}</p>
            </div>
        </div>
      </div>-->


        <!-- <mat-card class="mt-card mt-5">
            <mat-card-header>
                <div mat-card-avatar class="mb-1 mt-2">
                    <small class="bg-icon text-center"><mat-icon class="text-blue sml">link</mat-icon></small>
                </div>
                <mat-card-title><h2>Corporate</h2></mat-card-title>
                <mat-card-subtitle class="mt-2"><p>Updating your privacy policy to include substance. and our own team and privacy policy</p></mat-card-subtitle>
            </mat-card-header>
        </mat-card>

        <mat-card class="mt-card mt-5">
            <mat-card-header>
                <div mat-card-avatar class="mb-1 mt-2">
                    <small class="bg-icon text-center"><mat-icon class="text-blue sml">home</mat-icon></small>
                </div>
                <mat-card-title><h2>Vendor</h2></mat-card-title>
                <mat-card-subtitle class="mt-2"><p>Updating your privacy policy to include substance. and our own team and privacy policy</p></mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
  </div> -->
