  .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;   
  }

  .green {
    background-color:rgb(22, 161, 59);
  }

  .orange {
    background-color:orange;
  }
  
  .red {
    background-color:red;
  }

  a{
    color:blue; 
    text-decoration: underline;
  }

  th{
    font-weight: 800;
  }