<Section class="innerbg-1 position-relative bg-overlay d-flex align-items-center">
  <div class="container">
    <div class="row mb-30 align-center">
      <div class="col-12 text-center">
        <h1 class="fs-50 clr-white position-relative z-index">Here is FAQ</h1>
      </div>
    </div>
  </div>
</Section>

<section class="faq pt-70 pb-70 sm-pt-50 sm-pb-50 gray-bg">
  <div class="container">
    <div class="row">
      <div class="content pt-5 w-100 col-12">
        <accordion>
          <accordion-group (click)="open(1)" #p1 heading="Write clear and concise pages." [isOpen]="isP1Open"
            isDisabled="true">In terms of FAQ pages, "the more the merrier" is actually a fallacy. Too much text can end
            up being too confusing, causing readers to have to search for the answer they need. Rather than writing long
            and eloquent paragraphs, it's best to be straightforward and brief when providing answers.</accordion-group>
          <accordion-group (click)="open(2)" #p2 heading="Regularly update each page." [isOpen]="isP1Open"
            isDisabled="true">It's important that every FAQ page you have is always accurate. As your organization faces
            product launches and updates, your FAQ pages should reflect these changes as well. This means your team needs
            to consistently review each page and revise it after launching new features.</accordion-group>

          <accordion-group (click)="open(3)" #p3 heading="Include a search bar." [isOpen]="isP1Open" isDisabled="true">
            While it's helpful to list out all FAQ questions on a single page or link to them from a landing page, this
            dense format can end up being tedious for many customers. Often times, customers come to a FAQ page with a
            single question in mind and are forced to scroll through tens or hundreds of other questions to find theirs.
            If they have access to a search bar, they can easily search their question or related keywords to save time.
          </accordion-group>

          <accordion-group (click)="open(4)" #p4 heading="Organize questions by category." [isOpen]="isP1Open"
            isDisabled="true">What can also be tedious is listing all the questions in a random order. This is especially
            frustrating for customers who have several related questions regarding a single topic. Thus, it's helpful if
            you divide up questions into overarching topics, such as products, security, and billing.</accordion-group>


          <accordion-group (click)="open(5)" #p5 heading="Link top questions." [isOpen]="isP1Open" isDisabled="true">
            It's good to have categories laid out on the landing page of your FAQ section. However, there are likely some
            questions that are more popular than others. To save customers even more time, these top questions should have
            their own section and a link to their answer at the top of your FAQ page. That way you can maintain your
            categorical organization while making your most commonly asked questions more accessible.</accordion-group>



          <accordion-group (click)="open(6)" #p6 heading="Stick to the basics." [isOpen]="isP1Open" isDisabled="true">
            You might want to lighten up your FAQ pages with fun colors, themes, or humor. These can be effective based on
            your organization and its branding, but customers aren't on your FAQ pages to be entertained. It's typically
            best to stick to a basic format and simple design that can be quickly accessed and easily read.

            These tips can offer you structure when crafting your own FAQ page. For more guidance in your design process,
            check out the following companies who created successful FAQ pages.

          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>

</section>