@import '~@cloudtalentrecruit/ng-design/assets/styles/0-plugins/plugins-dir';

img{
    height: 58vh;
    margin: 4rem auto;
    display: flex;
    @include media-breakpoint-down(md) {
        height: 25vh;
        margin: 4rem auto;
    }
}

.construction-title{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}