
   <table @stagger *ngIf="dealstages" [dataSource]="dealstages" matSortActive={{sortKey}} matSortDirection={{sortDirection}} matSortDisableClear matSort (matSortChange)="sortData($event)" class="w-full" mat-table>
	<ng-container matColumnDef="label">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
		<td *matCellDef="let item" mat-cell>{{ item.label }}</td>
	</ng-container>
	<ng-container matColumnDef="pipeline_name">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Pipeline Name</th>
		<td *matCellDef="let item" mat-cell>{{ item.pipeline_name }}</td>
	</ng-container>

    <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let row; let i = index" class="w-10 text-secondary" mat-cell></td>
    </ng-container>

	<tr *matHeaderRowDef="getDisplayedColumns(); sticky: true" mat-header-row></tr>
	<tr
		*matRowDef="let row; columns: getDisplayedColumns();"
			@fadeInUp
			class="hover:bg-hover trans-ease-out cursor-pointer"
			mat-row></tr>
</table> 
<div class="text-center mt-2" *ngIf="(didFetch$ | async) && dealstages.length === 0">There are no deal stages available. Please enter in a deal stages to view them here</div>