<Section class="innerbg-1 position-relative bg-overlay d-flex align-items-center">
    <div class="container">
        <div class="row mb-30 align-center">
            <div class="col-12 text-center">
                <h1 class="fs-50 clr-white position-relative z-index">Our Blogs</h1>
            </div>
        </div>
    </div>
</Section>




<section class="blog-listing pt-50 pb-70 sm-pt-50 sm-pb-50 gray-bg">
    <div class="container container-standard">
        <div class="row">

            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="testimonials mb-30">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sq-sample3" />
                            <blockquote>Calvin: Hobbes, sometimes when I'm talking, my words can't keep up with my thoughts. I am beginning to
                                wonder why we think faster than we speak. Hobbes: Probably so we can think twice. 
                            </blockquote>
                            <div class="author">
                                <h5>Pelican Steve <span> LittleSnippets</span></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="testimonials mb-30">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sq-sample3" />
                            <blockquote>Calvin: Hobbes, sometimes when I'm talking, my words can't keep up with my thoughts. I am beginning
                                to
                                wonder why we think faster than we speak. Hobbes: Probably so we can think twice.
                            </blockquote>
                            <div class="author">
                                <h5>Pelican Steve <span> LittleSnippets</span></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="testimonials mb-30">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sq-sample3" />
                            <blockquote>Calvin: Hobbes, sometimes when I'm talking, my words can't keep up with my thoughts. I am beginning
                                to
                                wonder why we think faster than we speak. Hobbes: Probably so we can think twice.
                            </blockquote>
                            <div class="author">
                                <h5>Pelican Steve <span> LittleSnippets</span></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="testimonials mb-30">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sq-sample3" />
                            <blockquote>Calvin: Hobbes, sometimes when I'm talking, my words can't keep up with my thoughts. I am beginning
                                to
                                wonder why we think faster than we speak. Hobbes: Probably so we can think twice.
                            </blockquote>
                            <div class="author">
                                <h5>Pelican Steve <span> LittleSnippets</span></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="testimonials mb-30">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sq-sample3" />
                            <blockquote>Calvin: Hobbes, sometimes when I'm talking, my words can't keep up with my thoughts. I am beginning
                                to
                                wonder why we think faster than we speak. Hobbes: Probably so we can think twice.
                            </blockquote>
                            <div class="author">
                                <h5>Pelican Steve <span> LittleSnippets</span></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="testimonials mb-30">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sq-sample3" />
                            <blockquote>Calvin: Hobbes, sometimes when I'm talking, my words can't keep up with my thoughts. I am beginning
                                to
                                wonder why we think faster than we speak. Hobbes: Probably so we can think twice.
                            </blockquote>
                            <div class="author">
                                <h5>Pelican Steve <span> LittleSnippets</span></h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>