<table @stagger *ngIf="requests" [dataSource]="requests" matSortActive={{sortKey}} matSortDirection={{sortDirection}} matSortDisableClear matSort (matSortChange)="sortData($event)" class="w-full" mat-table>
	<ng-container matColumnDef="first_name">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>First Name</th>
		<td *matCellDef="let item" mat-cell>{{ item.first_name}}</td>
	</ng-container>

	<ng-container matColumnDef="last_name">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Last Name</th>
		<td *matCellDef="let item" mat-cell>{{ item.last_name}}</td>
	</ng-container>

	<ng-container matColumnDef="year">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Year</th>
		<td *matCellDef="let item" mat-cell>{{ setNameAsNAForDeals(item, 'year') || item?.year}}</td>
	</ng-container>

	<ng-container matColumnDef="brand">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Brand</th>
		<td *matCellDef="let item" mat-cell>{{ setNameAsNAForDeals(item, 'brand') || item?.brand | excerpt:30 }}</td>
	</ng-container>

	<ng-container matColumnDef="model">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Model</th>
		<td *matCellDef="let item" mat-cell>{{ setNameAsNAForDeals(item, 'model') || item?.model | excerpt:30 }}</td>
	</ng-container>

	<ng-container matColumnDef="trim">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Trim</th>
		<td *matCellDef="let item" mat-cell>{{ setNameAsNAForDeals(item, 'trim') || item?.trim | excerpt:30 }}</td>
	</ng-container>

	<ng-container matColumnDef="contact_owner">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Contact Owner</th>
		<td *matCellDef="let item" mat-cell>{{ item?.contact_owner }}</td>
	</ng-container>

	<ng-container matColumnDef="referral_code">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Referral Code</th>
		<td *matCellDef="let item" mat-cell>{{ item?.referral_code }}</td>
	</ng-container>

	<ng-container matColumnDef="source">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Source</th>
		<td *matCellDef="let item" mat-cell>{{ item?.source_utm }}</td>
	</ng-container>

	<ng-container matColumnDef="deal_stage">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Hubspot Deal Stage</th>
		<td *matCellDef="let item" mat-cell>{{ item?.deal_stage }} 
			<ng-container *ngIf="item?.hubspot_deal_stage_pipeline_name !== null">
				({{ item?.hubspot_deal_stage_pipeline_name }})
			</ng-container>
		 </td>
	</ng-container>

	<ng-container matColumnDef="portal_deal_stage">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Portal Deal Stage</th>
		<td *matCellDef="let item" mat-cell>{{ item?.portal_deal_stage_name }} 
			<ng-container *ngIf="item?.portal_deal_stage_pipeline !== null">
				({{ item?.portal_deal_stage_pipeline }})
			</ng-container>
		</td>
	</ng-container>

	<ng-container matColumnDef="closed_won">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Closed Won</th>
		<td *matCellDef="let item" mat-cell>
			<mat-icon *ngIf="item.closed_won == 1  || checkRequestQuotesHasContractDate(item.quotes)">done</mat-icon>
		</td>
	</ng-container>

	<ng-container matColumnDef="trade_in">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Trade In</th>
		<td *matCellDef="let item" mat-cell>
			<mat-icon *ngIf="item.trade_in == 1">done</mat-icon>
		</td>
	</ng-container>

	<ng-container matColumnDef="contract_date">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Contract Date</th>
		<td *matCellDef="let item" mat-cell>{{ item?.contract_date | date:'MM/dd/yyy h:mm a' }}</td>
	</ng-container>

	<ng-container matColumnDef="created_at">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>Created At</th>
		<td *matCellDef="let item" mat-cell>{{ item?.created_at | date:'MM/dd/yyy h:mm a' }}</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th *matHeaderCellDef mat-header-cell></th>
		<td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
			<button (click)="$event.stopPropagation();getSelectedRecord(row)"
				[matMenuTriggerData]="{ customer: row }"
				[matMenuTriggerFor]="actionsMenu"
				mat-icon-button
				type="button">

				<mat-icon svgIcon="mat:more_horiz"></mat-icon>
			</button>
		</td>
	</ng-container>

	<tr *matHeaderRowDef="getDisplayedColumns(); sticky: true" mat-header-row></tr>
	<tr
		*matRowDef="let row; columns: getDisplayedColumns();"
			routerLink="./{{row.id}}"
			@fadeInUp
			class="hover:bg-hover trans-ease-out cursor-pointer"
			mat-row></tr>
	</table> 
	<div class="text-center mt-2" *ngIf="(didFetch$ | async) && requests.length === 0">There are no deals available. Please enter in a deals to view them here</div>


<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
<ng-template let-customer="customer" matMenuContent>
	<button mat-menu-item routerLink="./{{selectedRecordDetail?.id}}">
		<mat-icon svgIcon="mat:remove_red_eye"></mat-icon>
		<span>View</span>
	</button>
	<button *ngIf="showDeleteButton(selectedRecordDetail)" (click)="onDelete(selectedRecordDetail)" mat-menu-item>
		<mat-icon svgIcon="mat:delete"></mat-icon>
		<span>Delete</span>
	</button>
</ng-template>
</mat-menu>
