.container {
  margin: auto;
  padding: 14px;

  mat-form-field {
    width: 100%;
  }

  p {
    font-size: 11px;
  }

  a {
    font-size: 12px;
    cursor: pointer;
  }

  button {
    width: 100%;
  }

  .links {
    padding: 6px;
    position: static;
  }
}